Docker/flow/.flows.json.backup
[{"id":"e47bf00f.6dd9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9d0d423f.4c2ac","type":"password-generator","z":"e47bf00f.6dd9","name":"","length":"10","setTo":"payload.password.value","isNumberDisabled":false,"isSpecialCharsDisabled":false,"isSpaceDisabled":false,"x":440,"y":160,"wires":[["ae3a3bc8.0bee58"]]},{"id":"7a70ce.6e466f34","type":"inject","z":"e47bf00f.6dd9","name":"key1-Hello","props":[{"p":"payload.key","v":"key1","vt":"str"},{"p":"payload.value","v":"Hello","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":160,"wires":[["9d0d423f.4c2ac","1c1e5f7d.360da1"]]},{"id":"b60da092.9834e","type":"inject","z":"e47bf00f.6dd9","name":"msg.to = password","props":[{"p":"to","v":"password","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":200,"wires":[["9d0d423f.4c2ac"]]},{"id":"ae3a3bc8.0bee58","type":"debug","z":"e47bf00f.6dd9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":160,"wires":[]},{"id":"1c1e5f7d.360da1","type":"debug","z":"e47bf00f.6dd9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":100,"wires":[]}]